<div>
  <%= image_tag @user.get_profile_image %>
  <p>name：<%= @user.name %></p>
  <p>introduction：<%= @user.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag @user_image.user.get_profile_image(100,100) %></p>
</div>