<h2>さしすせそ</h2>
<p>Book was successfully created.</p>

<p><strong>Title:</strong><%= @book.title %></p>

<p><strong>Body:</strong><%= @book.body %></p>


<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
